<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
      <!--私钥Key-->
    <add key="privateKey" value="MIICWgIBAAKBgEjtsrqRg/YsjSklA0pgk8OluFG3T93l0YZPmZ7N+YDdiy09xUXssEr9APRXyXR7MBV3O7M1DgcZSZ9gW5QG8JwjUW9PeI2r7k3kWkNLi2oOXMLauI5HufkuTsjdMKQm27MjvsTM9ecjPSlzIv2vNXEhC/saqprN4uLjFedbLfe7AgMBAAECgYACO3RbDZUydc6kUcO2BRrAxFPN/IRvUFeHeuxC1h8q+J0H93oQV9xVj0T2NbGu5Q5luc6T/628PePpAvQKpeO7e2Jp2X1mdia3ynoMkHZjhg5uY53Qs4T/IwM+wxiP/Aj/IDso4Q8QG/k8WuNJP0KtSgMt/4Jclwm/twQuuezcIQJBAI3XAI9JEaRIf1BBDYMtJegmO4ez6661Nu6qWazXJhQSt9Pz6Rmx9sfzlxCeJaXsgsRiSH25XlUIPIHxkWYjoLMCQQCDoAzAyqxTjpaHnMczcevICYzu8K+zF06gU88dCbizdR3d6+WgYqxU/XhVzZGFl/vNKVBCiyE9FgX+onRQ+kDZAkBozpfhSJK6m79HY+pCJZg/BBE04uOhwtGGZWXB63B9oJ8pBLAXhoLdmMblRpZ3Fl5CEoWSMOjdWCqtsfxIRsc1AkAzk/cLYSAQChLgh0Xj2eNL2ro4M2aWJi7wUocZWOLgp6cRfEvaAnCHSV/rN4ersve/2E2UFdLrjgLBWkV8KeRZAkBtZ/5lcimXsdqak6wz/8mkvyyQp4tdZJn73e7cua5+fsMXfe71sK6Ipr6LAAYqGiLtoSe6oOq2GSx7B47fAhoF" />
    <!--商户号-->
    <add key="merchantSn" value="TEST0000000001" />
    <add key="tradeType" value="WX" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
    </modules>
  </system.webServer>
</configuration>
